 <h1 align="center">This is a signup page</h1>
	<div align="center" class="row center">
  <div class="col-md-4 col-md-offset-3">
    <ul>
    <%= form_for(@user) do |f| %>
     <li> <%= f.label :name %> 
      <%= f.text_field :name %>
     </li>
     <li>
      <%= f.label :email %>
      <%= f.email_field :email %>
      </li>
      <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
      </li>
      

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    </ul>
  </div>
</div>

